<div class="page-header">
<h1>All Activities</h1>
</div>
<p>Find me in app/views/activities/index.html.erb</p>
<h3>Does this route work?</h3>

<div>
<% @activities.each do |t| %>
<p><strong><%= t.name %></strong> | <%= t.person_limit %><br />
<%= link_to('Edit', :action => 'edit', :id => t.id) %> | 
<%= link_to 'Delete', activities_path,
			id: :t,
			method: :delete, 
			data: { confirm: 'Are you sure you want to delete this activity?' } %></p>

<% end %>
</div>
<br />

<%= link_to 'New activity', new_activity_path %>

<p>Params: <%= params.inspect %></p>